body {
  font-family: "Be Vietnam Pro", sans-serif;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #0a0a0a;
  background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.05) 1%,
      transparent 1%
    ),
    radial-gradient(circle, rgba(255, 255, 255, 0.05) 1%, transparent 1%);
  background-size: 3px 3px, 5px 5px;
  position: relative;
  overflow-x: hidden;
  /* height: 3900px; */
}

body::before {
  content: "";
  position: absolute;
  top: 7%;
  left: 15%;
  width: 300px;
  height: 300px;
  background: rgba(0, 172, 37, 0.9);
  filter: blur(120px);
  z-index: -1;
}

body::after {
  content: "";
  position: absolute;
  bottom: 85%;
  right: 15%;
  width: 250px;
  height: 250px;
  background: #00ac25e6;
  filter: blur(100px);
  z-index: -1;
}

.heropage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px;
  width: 100%;
}

button {
  cursor: pointer;
}

.heropage--container {
  width: 70%;
}

h1 {
  font-size: 44px;
}

.heropage h1 {
  text-align: center;
}

.color-text {
  background: linear-gradient(90deg, #00ac25 0%, #ffffff 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-align: center;
  background-size: 150% 200%;
}

.color-text-small {
  background: linear-gradient(90deg, #00ac25 0%, #ffffff 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-align: center;
  background-size: 30% 200%;
}

.grey-text {
  color: #e2e8f0;
}

.heropage p {
  text-align: center;
  font-weight: 300;
}

.body-text {
  color: #ffffff;
}

.btn-div {
  display: flex;
  gap: 20px;
}

.btn-div button {
  padding: 10px;
  border-radius: 24px;
  border: none;
  background-color: #0a0a0a;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-div button:hover {
  background-color: #ffffff;
  color: #0a0a0a;
}

.page-2 {
  position: relative;
  display: flex;
  height: 700px;
  align-items: center;
  background-size: cover;
}

.bg {
  position: absolute;
  width: 120%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.bg-logo {
  height: 100%;
  min-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: visible;
  /* z-index: 10; */
}

.bg-logo img {
  overflow: visible;
  height: 40%;
  /* width: 100%; */
  /* transform: translateX(-20px) translateY(-15px); */
}

.page-2__text {
  width: 50%;
  color: #ffffff;
  padding: 64px;
}

.page-2__text h4 {
  text-align: start;
}

.btn-div-2 button {
  background-color: #ffffff;
  color: #0a0a0a;
  margin-top: 50px;
  border: 1px solid;
}

.btn-div-2 button:hover {
  background-color: #0a0a0a;
  color: #ffffff;
}

.page-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.page-2-text {
  color: #ffffff;
  width: 70%;
}

.glowing-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 300;
  color: #000;
  text-align: center;
  text-decoration: none;
  /* background: linear-gradient(145deg, #1a1a1a, #2b2b2b); */
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.6), 0 0 40px rgba(0, 255, 0, 0.4),
    0 0 60px rgba(0, 255, 0, 0.2);
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
}

.glowing-button:hover {
  color: #fff;
  box-shadow: 0 0 40px rgba(0, 255, 0, 0.8), 0 0 80px rgba(0, 255, 0, 0.6),
    0 0 100px rgba(0, 255, 0, 0.4);
  transform: scale(1.01);
}

.glowing-button::before {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle,
    rgba(0, 255, 0, 0.3) 100%,
    transparent 10.01%
  );
  background-size: 50% 50%;
  opacity: 0.5;
  pointer-events: none;
  transition: all 0.4s ease;
  color: #fff;
}

.glowing-button:hover::before {
  top: 0;
  left: 0;
}

.page {
  margin-bottom: 80px;
}

.page-4 {
  padding: 64px;
}

.phase1and2 {
  display: flex;
  color: #ffffff;
  gap: 64px;
}

.paragraph {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #e2e8f0;
}

.phase1,
.phase2 {
  width: 50%;
}

.align-left {
  text-align: left;
  background: linear-gradient(90deg, #00ac25 0%, #ffffff 10%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  background-size: 150% 200%;
}
.page-5 {
  padding: 64px;
}

.green-rect {
  position: relative; /* Added to ensure positioning of ::before */
  border: 1px solid #00ac25;
  border-radius: 24px;
  background-image: linear-gradient(
    to right,
    rgba(0, 172, 37, 0.1),
    rgba(0, 172, 37, 0.3)
  ); /* Gradient background */
  backdrop-filter: blur(40px);
  display: flex;
  align-items: center;
  gap: 32px;

  /* Initial background position */
  background-position: center;
  /* Ensure the background can move */
  background-size: 200%;
  /* Smooth transition for background position */
  transition: background-position 0.1s ease-out;
}

.green-rect p {
  width: 100%;
  font-weight: 300;
}

.green-rect-text {
  width: 50%;
  padding: 64px;
}

.green-rect::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  background: rgba(0, 172, 37, 0.9);
  filter: blur(120px);
  z-index: -1;
  pointer-events: none; /* Prevent it from interfering with cursor */
  transition: top 0.1s ease-out, left 0.1s ease-out;
}

.green-rect button {
  background-color: rgba(0, 172, 37, 0.3);
  border: 1px solid #00ac25;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 20px;
  padding: 6px 8px;
}

.img-div {
  width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-div img {
  height: 400px;
  rotate: 90deg;
  opacity: 0.4;
}

.pulse {
  animation: pulse 6s infinite;
  filter: blur(30px);
  transform-origin: 50% 50%;
}

.pulse-1 {
  animation-delay: 0.4s;
}

.pulse-2 {
  animation-delay: 0.8s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.bg-logo svg {
  position: absolute;
  z-index: 100;
  width: 50%;
  height: 50%;
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  overflow: visible;
}

/* Common Styling for Both Sections with Enhanced Glassmorphism */
.highlights {
  /* padding: 64px; */
  display: flex;
  gap: 32px;
  overflow: scroll;
  /* width: 100%; */
}

.AIPowered {
  cursor: grab;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  height: 200px;
  padding: 32px;
  border: 1px solid rgba(0, 172, 37, 0.5);
  border-radius: 12px;
  background-color: rgba(0, 172, 37, 0.1);
  backdrop-filter: blur(20px) saturate(180%);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  gap: 10px;
  position: relative; /* For the blur effect */
  margin-bottom: 30px;
}

/* Blurry Red Circle Effect */
.AIPowered::after,
.fuelTheFuture::after,
.joinTheFuture::after {
  content: "";
  position: absolute;
  bottom: 25%;
  left: 10%;
  width: 250px;
  height: 250px;
  background: rgba(0, 172, 37, 0.3); /* Slightly more opaque */
  filter: blur(100px);
  z-index: -1;
}

.AIPowered__header,
.fuelTheFuture__header,
.joinTheFuture__header {
  color: #e4e4e4;
  line-height: 38px;
  margin-bottom: 10px;
}

.AIPowered__p,
.fuelTheFuture__p,
.joinTheFuture__p {
  color: #ffffff;
  font-size: 12px;
  font-weight: 200;
  margin-top: 10px;
}

/* Styling for the highlights div scrollbar */
.highlights {
  overflow: auto;
  scrollbar-width: thin; /* Firefox: thin scrollbar */
  scrollbar-color: rgb(0, 172, 37) transparent; /* Firefox: thumb color and transparent track */
}

/* WebKit browsers (Chrome, Safari, Edge) */
.highlights::-webkit-scrollbar {
  width: 1px; /* Width of the scrollbar */
}

.highlights::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}

.highlights::-webkit-scrollbar-thumb {
  background-color: rgba(0, 172, 37, 0.1) transparent; /* Green thumb */
  border-radius: 10px; /* Rounded thumb */
}

.highlights::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 150, 32, 0.1) transparent; /* Darker green on hover */
}
